@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.button {
  cursor: pointer;

  /* remove default button styles */
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &.small {
    min-height: 2.25rem;
    padding: 0.625rem 1rem;
  }

  &.medium {
    min-height: 2.5rem;
    padding: 0.625rem 1rem;
  }

  &.large {
    min-height: 2.75rem;
    padding: 0.625rem 1rem;
  }

  &.xlarge {
    min-height: 3rem;
    padding: 0.625rem 1rem;
  }

  &.primary {
    border-radius: 0.5rem;
    border: 1px solid color.$primary-600;
    background: color.$primary-600;
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
    color: white;

    &:focus {
      border: 4px solid color.$primary-100;
    }

    &:disabled {
      border: 1px solid color.$primary-200;
      background: color.$primary-200;
    }
  }

  &.secondary {
    border-radius: 0.5rem;
    border: 1px solid color.$primary-50;
    background: color.$primary-50;
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
    color: color.$primary-700;

    &:hover {
      border: 1px solid color.$primary-100;
      background: color.$primary-100;
    }

    &:focus {
      border: 4px solid color.$primary-100;
      background: color.$primary-50;
    }

    &:disabled {
      border: 1px solid color.$primary-25;
      background: color.$primary-25;
      color: color.$primary-300;
    }
  }

  &.gray {
    border-radius: 0.5rem;
    border: 1px solid color.$gray-300;
    background: white;
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
    color: color.$gray-700;

    &:hover {
      border: 1px solid color.$gray-300;
      background: color.$gray-50;
      color: color.$gray-800;
    }

    &:focus {
      border: 4px solid color.$gray-100;
      color: color.$gray-700;
    }

    &:disabled {
      border: 1px solid color.$gray-200;
      color: color.$gray-300;
    }
  }

  &.empty {
    color: color.$primary-700;

    &:hover {
      background: color.$primary-50;
      color: color.$primary-700;
    }

    &:focus {
      color: color.$primary-700;
    }

    &:disabled {
      color: color.$gray-300;
    }
  }

  &.empty-gray {
    color: color.$gray-500;

    &:hover {
      background: color.$gray-50;
      color: color.$primary-600;
    }

    &:focus {
      color: color.$gray-500;
    }

    &:disabled {
      color: color.$gray-300;
    }
  }

  &.error {
    border-radius: 0.5rem;
    border: 1px solid color.$error-600;
    background: color.$error-600;
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
    color: white;

    &:hover {
      border: 1px solid color.$error-700;
      background: color.$error-700;
    }

    &:focus {
      border: 4px solid color.$error-400;
      background: color.$error-600;
    }

    &:disabled {
      border: 1px solid color.$error-200;
      background: color.$error-200;
    }
  }

  &.empty-error {
    color: color.$error-700;

    &:hover {
      border-radius: 0.5rem;
      background: color.$error-50;
    }

    &:focus {
      color: color.$primary-800;
    }

    &:disabled {
      color: color.$error-300;
    }
  }

  &.leadingIcon,
  &.trailingIcon {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }
}
